@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}
:root {
  --main-color:   #e0be40;
  --body-color:   #0d0d0ced;
  --title-color:   white;
  --paragraph-color :#909090;
  --section-color: #161616;
  --border-color: #525252;
}
body.dark {
  --body-color:   #ffffff;
  --title-color:   #454545;
  --paragraph-color :#858585;
  --section-color:#e9e9e9;
  --border-color: #c3c3c3;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 180px;
  font-family: "Manrope", sans-serif;
  background-color: #0d0d0c !important;
}  
body > * {
  overflow: hidden;
}
body:has(.calendly-container.active) {
  overflow: hidden;
}
.App {
  display: flex;
  gap: 10px;
  color: white;
  flex-direction: column;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

/* Mozilla browsers (Firefox) */
::-moz-scrollbar {
  width: 7px;
  height: 8px;
}
::-moz-scrollbar-track {
  background: transparent;
}
::-moz-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

/* Microsoft browsers (Edge, IE) */
::-ms-scrollbar {
  width: 10px;
  height: 8px;
}
::-ms-scrollbar-track {
  background: transparent;
}
::-ms-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}                                                                   
h1,h2,h3,h4,h5,h6,li,svg,a {
  margin: 0;
  padding: 0;
  font-size: unset;
  font-weight: unset;
  color: var(--title-color);
}
svg{
  transition: 0.3s;
  cursor: pointer;
}
p {
  margin: 0;
  padding: 0;
  color: var(--paragraph-color);
}
ul {
    list-style: none;
    margin: 0;
    padding:0;
}
hr {
  background: var(--border-color);
  height: 2px;
  border: none;
}
input {
  outline: none;
  border: none;
  border-radius: 6px;
  color: var(--title-color);
  background: transparent;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 800px;
    max-width: 98%;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
    max-width: 98%;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    max-width: 98%;
  }
/* Large */
}
@media (min-width: 1600px) {
  .container {
    width: 1470px;
    max-width: 98%;
  }
}

.top {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 12px;
  letter-spacing: 0.7px;
}

img {
  position: relative !important;
}
.hiddens {
  color: var(--paragraph-color);
  background: var(--section-color);
  padding: 8px 23px;
  border-radius: 21px;
  font-size: 20px;
  letter-spacing: 0.4px;
}
.main-button {
  color: #0d0d0ced;
  background: var(--main-color);
  padding: 13px 26px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 9px;
  transition: background 0.3s, opacity 1.2s, transform 1.2s !important;
  font-family: 'Manrope';
}
a.main-button:hover {
  background: var(--main-color) !important;
}
.btns-holder {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 17px;
}
.btns-holder > * {
  width: 140px;
}
.btns-holder a {
  width: fit-content;
  background: white;
  transition: 0.3s;
  text-align: center;
}
.btns-holder a:hover {
  background: var(--main-color);
}

body > * > h1 {
  font-size: 65px;
  font-weight: 700;
  text-align: center;
}
body > * > p {
  font-size: 22px;
  margin-bottom: 6px;
}
body h1 span  {
  color: var(--main-color);
}
body p span {
  color: var(--main-color);
}

.title-logo {
  display: flex;
}
.title-logo h1:last-child {
  margin-left: -7px;
}

.holder.four {
  margin-top: 31px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 15px;
  row-gap: 25px;
}
.holder.four .box img {
  width: 45px !important;
  height: 45px !important;
  border-radius: 50%;
}

svg.backImg {
  position: absolute;
  top: -30px;
  z-index: -1;
  left: -52px;
}

.calendly-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -2;
  display: none;
  justify-content: center;
  gap: 10px;
}
.calendly-container.active {
  display: flex;
  z-index: 51;
}
.calendly-container .hold {
  opacity: 0;
  scale: 0.6;
  width: 100%;
  transition: 0.3s;
}
.calendly-container.active .hold {
  opacity: 1;
  scale: 1;
}
.calendly-container .close-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 100;
  transform: translate(-32px, 71px);
}
.calendly-container .close-btn:hover {
  background: #ce3636;
  padding: 3px;
}
.calendly-container.active {
  display: flex;
}

@media (max-width: 768px) {
  .calendly-container .calendly-inline-widget {
    width: 100%;
    height: 100%;
  }
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox-wrapper-13 {
    display: flex;
  }
  .checkbox-wrapper-13 input[type=checkbox] {
    --active: black;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: var(--main-color);
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 16px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .checkbox-wrapper-13 input[type=checkbox]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  .checkbox-wrapper-13 input[type=checkbox]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  .checkbox-wrapper-13 input[type=checkbox]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .checkbox-wrapper-13 input[type=checkbox]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .checkbox-wrapper-13 input[type=checkbox]:disabled + label {
    cursor: not-allowed;
  }
  .checkbox-wrapper-13 input[type=checkbox]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
    width: 16px;
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
    opacity: var(--o, 0);
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
    --o: 1;
  }
  .checkbox-wrapper-13 input[type=checkbox] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
  }

  .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
    border-radius: 4px;
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 5.4px;
    top: 2px;
    transform: rotate(var(--r, 20deg));
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
}
.checkbox-wrapper-13 * {
  box-sizing: inherit;
}
.checkbox-wrapper-13 *:before,
.checkbox-wrapper-13 *:after {
  box-sizing: inherit;
}

.inputHolder {
  position: relative;
  width: 100%;
  height: fit-content;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  transition: 0.3s;
}
pre.placeHolder {
  font-weight: 400;
}
.flash-sale pre.placeHolder {
  margin-bottom: 10px;
}
.inputHolder h6.placeHolder {
  position: absolute;
  z-index: 1;
  top: 17px;
  left: 19px;
  font-size: 13.4px;
  font-weight: 500;
  transition: 0.3s;
}
.inputHolder input:focus {
  padding: 14px 19px 0;
}
.inputHolder .holder textarea {
  height: 154px;
  font-size: 16.8px;
  padding: 19px 20px;
  letter-spacing: 0.7px;
  line-height: 1.3;
}
.inputHolder textarea:focus {
  padding: 27px 19px 0;
}
.inputHolder:has(textarea) h6.placeHolder {
  font-size: 17px;
  font-weight: 300;
}
.inputHolder textarea::placeholder {
  font-weight: 300;
  font-size: 15.3px;
}
.inputHolder input::placeholder,
.inputHolder textarea::placeholder {
  transition-delay: 0.3s;
}
.inputHolder input:focus::placeholder,
.inputHolder textarea:focus::placeholder {
  transition-delay: 0s !important;
  color: transparent;
}
.inputHolder:has(input:focus) h6.placeHolder,
.inputHolder:has(textarea:focus) h6.placeHolder {
  top: 9px;
  font-size: 12px;
  color: var(--main-color) !important;
}
.inputHolder input:not(:placeholder-shown) {
  padding: 14px 19px 0;
}

.inputHolder:has(input:not(:placeholder-shown)) h6.placeHolder,
.inputHolder:has(textarea:not(:placeholder-shown)) h6.placeHolder { 
  top: 9px;
  font-size: 12px;
    color: #838383;
}
.inputHolder.notvalid:has(input:focus) h6.placeHolder,
.inputHolder.notvalid:has(textarea:focus) h6.placeHolder {
  color: #c81d1d !important;
  font-weight: 600;
}
.inputHolder input::placeholder,
.inputHolder textarea::placeholder {
    color: #838383;
}
.inputHolder span svg,
.selectHolder .error svg,
.specificHolder .error svg {
  color: #c81d1d;
}
form button.remove {
  cursor: pointer;
  font-size: 15px;
  color: var(--body-color);
  font-weight: 600;
  background: var(--main-color);
  border-radius: 50%;
  transition: 0.3s;
  padding: 0px 6px 2px;
}
form button.remove:hover {
  background: var(--hover-color);
}
.inputHolder .holder {
  position: relative;
  border-radius: 3px;
}
.inputHolder .holder > svg {
  color: var(--paragraph);
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  font-size: 17px;
}
.inputHolder .holder:has(textarea) > svg  {
  top: unset;
  transform: translateY(18px);
}
.inputHolder .holder > svg.eye {
  left: unset;
  right: 14px;
  top: 12px;
  cursor: pointer;
  padding: 6px;
  width: 30px;
  height: 30px;
}
.inputHolder input, 
.inputHolder textarea,
.tagsHolder,
.specificHolder {
  width: 100%;
  position: relative;
  outline: none !important;
  backdrop-filter: blur(6px);
  background: #10101080;
  height: 51px;
  padding: 0 19px;
  resize: none;
  border: none;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 300;
  font-family: 'Manrope';
  color: white;
  transition: padding 0.3s;
  border-radius: 5px !important;
}


.inputHolder.password input {
  padding-right: 40px;
}
.inputHolder .holder::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 0%;
  height: 1px;
  z-index: 1;
  transition: 0.5s;
  transform: translateX(-50%);
  background: var(--main-color);
}
.inputHolder .holder:has(textarea)::before {
  bottom: 3px;
}
.inputHolder.notvalid .holder::before {
  background: #c81d1d;
}
.inputHolder .holder:focus-within::before {
  width: 100%;
}
.inputHolder span,
.selectHolder .error,
.specificHolder .error {
  color: #c81d1d;
  font-size: 14px;
  margin-top: 6px;
  letter-spacing: 0.7px;
  text-transform: capitalize;
  margin-left: 5px;
  display: flex;
  gap: 5px;
  font-weight: 500 !important;
}
.inputHolder.tags .holder {
  width: 50%;
}
.inputHolder:has(.tagsHolder) {
  display: flex;
  gap: 10px;
}
.inputHolder .tagsHolder {
  display: flex;
  align-items: center;
  gap: 12px;
  overflow: auto;
}

/*! ============== HEADER ============== */

header {
  position: fixed;
  padding: 10px 13px 10px 22px;
  top: 35px;
  display: flex;
  align-items: center;
  gap: 33px;
  justify-content: space-between;
  border-radius: 15px;
  backdrop-filter: blur(6px);
  z-index: 50;
  border: 4px solid #1c1b1f;
  background: #101010eb;
  width: max-content;
  overflow: unset !important;
}
header .logo {
  display: flex;
  align-items: center;
  font-size: 32px;
  gap: 10px;
  font-weight: 700;
  letter-spacing: -0.9px;
  position: relative;
}
header .logo::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -16px;
  transform: translateY(-50%);
  width: 1px;
  height: 50%;
  background: var(--border-color);
}
header .logo img {
  width: 27px !important;
}
header nav {
  display: flex;
  gap: 5px;
}
header nav a {
  padding: 6px 12px;
  border-radius: 7px;
  font-weight: 400;
  color: var(--paragraph-color);
  letter-spacing: 0.7px;
  text-transform: capitalize;
  transition: 0.3s;
  font-size: 17px;
}
header nav a:hover,
header nav a.active {
  color: var(--main-color);
  background: var(--section-color);
}

.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger input {
  display: none;
}
.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line-top-bottom {
  stroke-dasharray: 12 63;
}
.hamburger input:checked + svg {
  transform: rotate(-45deg);
}
.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/*! ============== HERO ============== */

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0 30px;
}
.hero.why {
  margin-bottom: 0;
  padding-bottom: 70px;
}
.hero.why p {
  margin-top: 22px;
}
.hero .hiddens {
  margin-bottom: -14px;
}
.hero > h1 {
  margin-top: 25px;
}
.hero > h1, .hero > h2 {
  font-size: 73px;
  line-height: 1.1;
  text-align: center;
  font-weight: 700;
  margin-bottom: -8px;
  letter-spacing: 1.7px;
}
.hero.home > h1, .hero.home > h2 {
  font-size: 102px;
}
.hero h2 {
  margin-bottom: 5px;

  color: var(--main-color);
  letter-spacing: -0.9px;
}
.hero p {
  font-size: 22px;
  margin-bottom: 6px;
  text-align: center;
}

/*! ============== SERVICES ============== */

.services {
  background: var(--main-color);
  padding: 56px 63px;
  border-radius: 28px;
  width: 76%;
  margin: 93px auto 40px;
  overflow: hidden;
}
.checkout .services {
  width: 100%;
}
.services .hiddens {
  color: #e0be40 !important;
  background: var(--section-color); 
}
.services h2 {
  font-size: 60px;
  font-weight: 600;
  color: #0d0d0ced;
  margin: 10px 0 3px;
}
.services > p {
  font-size: 17px;
  color: #0d0d0ced;
  max-width: 421px;
}
.services .holder.four .box {
  align-items: flex-start;
  text-align: left;
}
.services .holder.four img {
  background: #0d0d0ced;
  padding: 7px;
  width: 43px !important;
  height: 43px !important;
}
.services .holder.four h4 {
  color: #0d0d0ced;
  font-weight: 700;
  margin-top: 5px;
}
.services .holder.four p {
  color: #0d0d0ced;
  font-weight: 600;
}

/*! ============== PROCESS ============== */

.our-process {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  overflow: hidden;
  padding-bottom: 80px;

}

.our-process > p {
  max-width: 344px;
  text-align: center;
  font-size: 25px;
}
.our-process .holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
  gap: 15px;
  row-gap: 50px;
  margin: 40px auto 32px;
  width: 89%;
}
.our-process .holder .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  position: relative;
}
.our-process.process-page {
  margin-top: 45px;
}
.our-process.process-page .box::before {
  content: '2';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-color);
  font-size: 345px;
  font-weight: 900;
  opacity: 0.1;
  z-index: -1;
  line-height: 0.9;
}
.our-process.process-page .box:first-child::before {
  content:'1'
}
.our-process.process-page .box:last-child::before {
  content:'3'
}

.our-process .holder .box img {
  width: 53px !important;
  height: 53px !important;
  margin-bottom: 12px;
}
.our-process .holder .box h4 {
  font-size: 27px;
  line-height: 1.2;
}
.our-process .holder .box p {
  font-size: 17px;
  max-width: 382px;
}

/*! ============== REVIEWS ============== */

.reviews {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.reviews .ico {
  color: white;
  font-size: 130px;
  font-weight: 900;
  margin-bottom: -98px;
  display: flex;

}
.reviews h1 {
  max-width: 800px;
  line-height: 1.2;
  text-align: center;
  margin: 22px 0 5px;
}
.reviews .holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
  gap: 20px;
  margin: 40px auto;
  width: 96%;
}
.reviews .holder .box {
  border: 2px solid var(--border-color);
  border-radius: 18px;
  padding: 18px 37px;
  position: relative;
  overflow: hidden;
}
.reviews .holder .box > img {
  height: 65px !important;
  object-fit: contain;
  z-index: 2;
}
.reviews .box > p {
  margin: 10px 0 15px;
  font-size: 15px;
  z-index: 2;
  position: relative;
}
.reviews .holder .box .user {
  display: flex;
  align-items: center;
  gap: 15px;
}
.reviews .holder .box .user img {
  width: 35px !important;
  height: 35px !important;
}
.reviews .holder .box .user .info h5 {
  font-weight: 400;
  font-size: 16px;
  color: var(--paragraph-color);
  margin-top: 1px;
}

/*! ============== ACCESS ============== */

.access {
  background: var(--main-color);
  padding: 56px 63px;
  border-radius: 28px;
  width: 76%;
  margin: 100px auto 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.access.book h1 {
  max-width: 708px;
}
.access h1 {
  font-size: 53px;
  font-weight: 600;
  color: #0d0d0ced;
  max-width: 564px;
  text-align: center;
  line-height: 1;
  margin: 0 0 -10px;
}
.access p {
  font-size: 19px;
  color: #0d0d0ced;
  margin: 26px 0 19px;
  font-weight: 500;
}
.access a {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: #e0e0e0 !important;
  max-width: 407px;
  background: #1d1d1d;
  padding: 15px 24px;
}
.access .main-button {
  background: #0d0d0ced;
  color: white;
  font-weight: 500;
}
.access .main-button:hover {
  color: #0d0d0ced !important;
  background: white !important;
}

/*! ============== MISSION ============== */

.mission {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 0 80px;
}
.mission .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mission .left h1 {
  font-size: 57px;
  font-weight: 600;
  line-height: 1.2;
  margin: 26px 0 19px;
}
.mission .left a {
  background: white;
  color: #0d0d0ced;
  display: flex;
  width: fit-content;
}
.mission .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.mission .right .hold h1 {
  font-size: 47px;
  font-weight: 600;
  margin-bottom: -6px;
}
.mission .right .hold p {
  letter-spacing: 0.4px;
  line-height: 1.4;
  max-width: 89%;
  font-weight: 600;
}

/*! ============== VALUES ============== */

.values {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 105px;
}
.values h1 {
  font-weight: 600;
  margin: -14px 0 25px;
  max-width: 387px;
  line-height: 1;
  text-align: center;
}
.values h1 span {
  text-transform: uppercase;
}
.values .holder.four {
  width: 100%;
}
.holder.four .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.holder.four img {
  background: transparent;
  padding: 2px;
  width: 50px !important;
  height: 50px !important;
}
.holder.four h4 {
  color: var(--title-color);
  font-weight: 500;
  font-size: 26px;
}
.holder.four p {
  color: var(--title-color);
  line-height: 1.5;
  opacity: 0.6;
  font-size: 17px;
  max-width: 95%;
}

/*! ============== ABOUT ============== */

.about {
  margin-top: 140px;
  background: var(--section-color);
  padding: 60px 50px 50px;
  border-radius: 52px;
  overflow: hidden;
}
.about .hiddens {
  background: var(--body-color);
}
.about h1 {
  text-align: left;
  margin: 13px 0px 8px;
}
.about P {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 1.5;
}
.our-process.aboutPag > h1 {
  line-height: 1;
  text-align: center;
  margin: 18px 0 0px;
  font-weight: 600;
}
.our-process.aboutPag .box::before {
  display: none;
}
.our-process.aboutPag h4 span {
  color: var(--main-color);
  font-size: 24px;
}

/*! ============== WHY US ============== */ 

.hero.why + .holder.four {
  margin-top: 60px;
  grid-template-columns: repeat(auto-fill, minmax(357px, 1fr));
}
.hero.why + .holder.four .box {
  align-items: center;
  text-align: center;
  gap: 6px;
}
.hero.why + .holder.four .box img {
  width: 60px !important;
  height: 60px !important;
  border-radius: 0;
}
.hero.why + .holder.four h4 {
  font-size: 33px;
  text-align: center;
  line-height: 1.3;
}
.hero.why + .holder.four p {
  font-size: 20px;
  text-align: center;
}

/*! ============== FAQ ============== */

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.faq h1.last {
  color: #969696;
  /* color: var(--main-color); */
  margin-top: -12px;
}
.faq .hold {
  width: 85%;
  margin-top: 16px;
}
.faq .hold .box {
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid var(--border-color);
  padding: 27px 0;
  transition: 0.3s;
}
.faq .hold button {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 34px;
  align-items: center;
  transition: 0.3s;
}
.faq .hold button svg {
  width: 30px;
  height: 30px;
  color: var(--paragraph-color);
}
.faq .hold button:hover {
  color: var(--main-color);
}
.faq .hold button:hover svg {
  color: var(--main-color);
}
.faq .hold .hiddin {
  font-size: 18px;
  color: var(--paragraph-color);
  letter-spacing: 0.3px;
  transform: scaleY(0);
  height: 0;  
  transform-origin: top center;
}
.faq .box {
  transition: 0.3s;
  height: 96px;
}
.faq .box.active {
  gap: 15px;
  height: max-content;
}
.faq .box.active button {
  color: var(--main-color);
}
.faq .box.active svg {
  transform: rotate(45deg);
}
.faq .box.active .hiddin {
  transition: 0.35s;
  transform: scaleY(1);
  height: max-content;
}

/*! ============== Pricing ============== */ 

.hero.pricing h1 {
  margin-bottom: 6px;
}
.pricing-cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 20px;
  row-gap: 25px;
  width: 100%;
}
.pricing-cards .card {
  border-top: 8px solid #474747;
  border-radius: 33px;
  padding: 30px 34px 27px;
  position: relative;
}
.pricing-cards .card::before {
  content: '';
  position: absolute;
  width: 99.2%;
  height: 99.2%;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 28px;
  border: 2px solid var(--border-color);
}
.pricing-cards .card h2 {
  font-size: 29px;
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
  letter-spacing: 0;
}
.pricing-cards .card h2 span {
  background: #0d0d0ced;
  border-radius: 50px;
  color: var(--main-color);
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 3px;
  width: fit-content;
  font-weight: 600;
  padding: 2px 12px;
  letter-spacing: 0px;
}
.pricing-cards .card h2 span img {
  width: 17px !important;
}
.pricing-cards .card p {
  font-size: 14px;
  text-align: unset;
  margin-top: -8px;
  font-weight: 600;
}
.pricing-cards .card h3 {
  font-size: 15px;
  color: var(--paragraph-color);
  line-height: 1.2;
  font-weight: 600;
  margin: 11px 0 13px;
}
.pricing-cards .card h3 span {
  font-size: 27px;
  color: white;
  font-weight: 500;
  margin-top: -7px;
}
.pricing-cards .card .main-button {
  display: flex;
  justify-content: center;
  background: white;
  padding: 12px 26px;
  width: 100%;
  font-size: 16px;
  border-radius: 50px;
}
.pricing-cards .card .main-button:hover {
  background: var(--main-color);
}
.pricing-cards .card.gold .main-button {
  padding: 13px 26px;
}
.pricing-cards .card.gold .main-button:hover {
  color: #0d0d0ced;
  background: white !important;
}
.pricing-cards .card hr {
  margin: 12px 0 6px;
  background: transparent;
  border-bottom: 2px dotted var(--border-color);
  height: 0;
}
.pricing-cards .card label  {
  color: var(--paragraph-color);
  margin-bottom: 6px;
  display: flex;
  gap: 4px;
  position: relative;
  align-items: center;
}
.pricing-cards .card .plusPrice {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: var(--main-color);
  border-radius: 50px;
  color: #0d0d0ced;
  font-size: 13px;
  font-weight: 700;
  padding: 3px 12px;
  letter-spacing: 0px;
  min-width: 71px;
  text-align: center;
}
 .select {
  position: relative;
}
 .select .btn {
  width: 100%;
  margin: 8px 0px 16px;
  font-weight: 400;
  padding: 14px 15px;
  background: #7a7a79;
  gap: 7px;
  color: white;
  border-radius: 6px;
  font-family: 'Manrope';
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}
.checkout .select .btn {
  height: 54px;
}
 .select .btn img {
  width: 17px !important;
  height: 17px !important;
  transition: 0.3s;
}
 .select:has(.menu.active) img {
  transform: rotate(180deg);
}
 .select .menu {
  backdrop-filter: blur(6px);
  background: #101010c7;
  border: 2px solid var(--border-color);
  padding: 7px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 500;
  width: 100%;
  top: 53px;
  overflow: auto;
  max-height: 213px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.3s;
}
.pricing-cards .car.gold .select .menu {
  top: 49px;
}
.select .menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.select .menu li {
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  color: white;
  padding: 7px 20px;
  width: 100%;
  transition: 0.3s;
  transition: 0.3s;
}
.select .menu li:hover,
.select .menu li.active {
  color: var(--main-color);
  background: var(--section-color);
}
.select .menu li.active {
  background: transparent !important;
  font-weight: 900;
  cursor: auto;
}
.pricing-cards .card.gold .select button {
  background: #000000c4;
}
.pricing-cards .card.gold .select .menu li {
  font-weight: 300;
  color: white;
}
.pricing-cards .card.gold .select .menu li:hover,
.pricing-cards .card.gold .select .menu li.active {
  color: var(--main-color);
  background: var(--border-color);
}
.pricing-cards .card.gold .select .menu li.active {
  background: transparent;
  font-weight: 500;
}
.pricing-cards .card .select.active .menu {

}
.pricing-cards .card > div ul li {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 0.5px;
  margin-bottom: 3px;
}
.pricing-cards .card > div ul li svg {
  color: #ffffff;
  /* background: white; */
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.pricing-cards .card .specific {
  margin-top: 4px;
}
.pricing-cards .card .specific label {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 500;
}
.pricing-cards .card.gold {
  border-color: #a7a7a7;
  background: var(--main-color);
}
.pricing-cards .gold::before {
  display: none;
}
.pricing-cards .card.gold p,
.pricing-cards .card.gold h2,
.pricing-cards .card.gold h3,
.pricing-cards .card.gold h3 span,
.pricing-cards .card.gold ul li,
.pricing-cards .card.gold label {
  color: #0d0d0ced;
  font-weight: 600;
}
.pricing-cards .card.gold ul li svg {
  color: #ffffff;
  background: #0d0d0ced;
  padding: 2px;
}
.pricing-cards .card.gold .main-button,
.pricing-cards .card.gold select {
  background: #000000c4;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
.pricing-cards .card.gold select {
  color: #f0f0f0;
}

/* checkbox */
.pricing-cards .card .switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  margin-right: -3px;
  margin-left: -12px;
}

/* Hide default HTML checkbox */
.pricing-cards .card .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.pricing-cards .card .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 1px solid #adb5bd;
  transition: .4s;
  border-radius: 30px;
  scale: 0.7;
}

.pricing-cards .card .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #dedede;
  transition: .4s;
}

.pricing-cards .card input:checked + .slider {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.pricing-cards .card input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: #0d0d0ced;
}

/*! ============== CHECKOUT ============== */

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero.checkout {
  margin-bottom: 52px;
}
.hero.checkout > h1, .hero > h2 {
  font-size: 70px;
  margin-bottom: 1px;
}
.checkout h2 {
  font-size: 40px;
  color: var(--main-color);
  font-weight: 700;
  margin: 12px 0px -12px 5px; 
}
.checkout .big-holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(234px, 1fr));
}

.checkout-form {
  display: flex;
  align-items: center;
  gap: 35px;
  width: 100%;
  padding-bottom: 70px;
}
.checkout-form form {
  width: 100%;
  display: flex;
  gap: 30px;
}
.checkout-form form .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.checkout-form .rowHolder {
  display: flex;
  gap: 11px;
}
.checkout-form form .select {
  min-width: 220px;
}
.checkout-form form .select .menu {
  top: 61px;
  overflow: auto;
  max-height: 213px;
}
.checkout-form form .select .menu::-ms-scrollbar {
  width: 5px;
  height: 8px;
}
.checkout-form form .select div.btn {
  margin: 0;
  backdrop-filter: blur(6px);
  background: #10101080;
  border: 2px solid var(--border-color);
}
.checkout-form .list {
  background: var(--main-color);
  width: 37%;
  height: 350px;
  border-radius: 8px;
}

.checkout .big-holder .holder {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 12px 18px;
  gap: 7px;
}
.checkout .big-holder .holder:nth-child(2) {
  border-right: 2px solid var(--border-color);
  border-left: 2px solid var(--border-color);
}
.checkout .big-holder .holder h3 {
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 2px;
}
.checkout .big-holder .holder div {
  display: flex;
  align-items: center;
  gap: 4px;
}
.checkout .big-holder .holder label {
  color: white;
  font-weight: 300;
  font-size: 18px;
}
.checkout .big-holder .holder .checkbox-wrapper-13 input[type=checkbox]:checked {
  background: var(--main-color);
  border: none;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox-wrapper-13 input[type=checkbox] {
    background: transparent;
  }
  .checkout .holder .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
    border-color: #000000;
  }
}

.checkout .list {
  background: var(--main-color);
  width: 37%;
  height: fit-content;
  border-radius: 8px;
  padding: 27px;
}
.checkout .list h2 {
  color: black;
  font-size: 32px;
  max-width: 84%;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 12px;
}
.checkout .list #allSelected {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.checkout .list #allSelected > div {

}
.checkout .list #allSelected h4 {
  color: black;
  font-size: 17px;
  font-weight: bolder;
  margin-bottom: 2px;
}
.checkout .list #allSelected ul {

}
.checkout .list #allSelected ul li {
  color: black;
  font-weight: 700;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #bca037;
  padding: 6px 12px;
  font-size: 17px;
}
.checkout .list .bottom  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.checkout .list .bottom h3 {
  color: black;
  font-size: 20px;
  font-weight: 700;
  text-align: right;
  line-height: 1.3;
}
.checkout .list .bottom .main-button {
  width: 200px;
  color: #fafafa;
  backdrop-filter: blur(6px);
  background: #101010c2;
}
.checkout .list .bottom .main-button:hover {
  color: black;
  background: white;
}

.errors-holder {
  margin-top: 8px;
}
.errors-holder p {
  font-size: 15px;
  margin-left: 15px;
  margin-bottom: -9px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 4px;
}
.checkout p.error {
  color: #ff2020;
  font-size: 15px;
  margin-left: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: -9px !important; 
}
.checkout p.error svg,
.errors-holder p svg {
  color: #ff2020;    
  width: 15px;
}
.stripeForm {

}
.stripeForm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  justify-content: center;
  gap: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #ffffff00;
  backdrop-filter: blur(7px);
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.stripeForm.active {
  background: #ffffffd6;
  opacity: 1;
  visibility: visible;
  z-index: 100;
}
body:has(.stripeForm.active) {
  overflow: hidden;
}
.stripeForm .StripeElement {
  width: 580px;
  max-width: 100%;
}
.Label {
  color: white !important;
  margin-bottom: 8px !important;
  font-family: sans-serif !important;
  letter-spacing: 0.5px !important;
}
.stripeForm .x {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  padding: 1px;
}
.stripeForm .x:hover {
  color: white;
  padding: 4px;
  background: #ff2d2d;
}
.stripeForm .hold {
  display: flex;
  flex-direction: column;
}
.stripeForm .main-button {
  padding: 12px;
  width: 100%;
  align-self: center;
  margin-top: 20px;
  color: #ffffff;
  font-weight: 600;
}
.stripeForm .main-button:hover {
  background: #000000d9;
  color: var(--main-color);
}


/*! ============== payment-confirm ============== */

body:has(.hero.payment) > svg {
  display: none;
}
.hero.payment img {
  position: relative !important;
  width: 205px !important;
  height: 189px !important;
  color: var(--main-color);
  margin-bottom: -15px;
}
.hero.payment > h1 {
  font-size: 70px;
  color: var(--main-color);
}
.hero.payment > h2 {
  font-size: 55px !important;
  margin-top: 13px;
  margin-bottom: 3px;
  color: white;
}
.hero.payment {
  
}

/*! ============== Footer ============== */

footer {
  position: relative;
  padding: 50px 0;
  background: linear-gradient(180deg, rgba(13, 13, 12, 1) 1%, rgba(38, 38, 38, 1) 108%);
  overflow: hidden;
  width: 100%;
}
footer .container {
  display: flex;
  justify-content: space-around;
  margin-top: 38px;
  gap: 315px;
}
footer .container div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
footer .container div:nth-child(2) {
  position: absolute;
  left: 47%;
}
footer .container div h4 {
  font-size: 20px;
  color: var(--paragraph-color);
}
footer .container div ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
}
footer .container a {
  transition: 0.3s;
}
footer .container .social ul {
  flex-direction: row;
}

footer .container .social svg {
  width: 28px;
  height: 28px;
}
footer .container a:hover,
footer .container svg:hover {
  color: var(--main-color);
}
footer p.copyRight {
  font-size: 16px;
  text-align: center;
  margin: 35px 0 -19px;
}
footer .banner {
  position: relative;
  margin-bottom: -4%;
  margin-top: 55px;
  width: 100%;
  height: fit-content;
  transform: translateX(-3.5%);
  cursor: auto;
}
body:has(.hero.why) .backImg {
  width: 800px;
  height: 2400px;
}

@media(max-width:1600px) {
  .services {
    width: 87%;
  }
  .our-process .holder, .reviews .holder {
    width: 100%;
  }
  .mission {
    gap: 35px;
    padding: 0;
    width: 88%;
  }
  .values {
    width: 92%;
  }
  .our-process {
    width: 85%;
  }
  .our-process .holder .box p {
    max-width: 378px;
  }
  .hero > h1, .hero > h2 {
    font-size: 78px !important;
  }
  .checkout {
    width: 90%;
  }
}

@media(max-width:1500px) {
  header {
    width: 56%;
  }
  header .logo::after {
    display: none;
  }
  .our-process {
    width: 98%;
  }
  .reviews {
    width: 93%;
  }
  .mission .left h1 {
    font-size: 52px;
  }
}

@media (max-width: 1400px) {
  header {
    width: 65%;
  }
  .mission .left h1 {
    font-size: 48px;
  }
  .mission .right .hold h1 {
    font-size: 42px;
  }
}

@media (max-width: 1200px) {
  header {
    width: 71%;
  }
  .hero > h1, .hero > h2 {
    font-size: 66px !important;
  }
  .our-process {
    width: 97%;
  }
  .mission {
    gap: 10px;
  }
  .mission .left {
    width: 66%;
  }
  .mission .left h1{
    font-size: 54px;
  }
  .checkout-form {
    flex-direction: column;
  }
  .checkout-form form {
    width: 100%;
  }
  .checkout .big-holder {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
  .checkout .list {
    width: 66%;
  }
}

@media (max-width: 1100px) {
  header {
    width: 79%;
  }
}

@media (max-width: 992px) {
  body {
    padding-top: 150px;
  }
  body svg.backImg {
    width: 100%;
  }
  header {
    width: 94%;
    top: 28px;
    gap: 0;
  }
  .hero > h1, .hero > h2 {
    font-size: 56px !important;
  }
  .holder.four {
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  }
  .reviews .holder {
    grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
  }
  .access {
    width: 86%;
  }
  .about {
    max-width: 94%;
  }
  .about h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin: 8px 0 11px;
  }
  .mission {
    flex-direction: column;
    gap: 25px;
    max-width: 83%;
  }
  .mission > * {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .mission .right {
    flex-direction: row;
  }
  .mission .right .hold p {
    margin: 0 auto;
  }
  .mission .left {
    align-items: center;
  }
  footer .banner {
    margin-bottom: -54px;
  }
  .faq .hold {
    width: 100%;
  }
  .checkout .list {
    width: 100%;
  }
  .checkout .big-holder {
    grid-template-columns: repeat(auto-fill, minmax(236px, 1fr));
  }
  footer .container div:nth-child(2) {
    left: 43%;
  }
}

@media (max-width: 786px) {
  body {
    padding-top: 0;
  }
  svg.backImg {
    display: none;
  }
  header {
    position: relative;
    top: 15px;
    margin-bottom: 50px;
    gap: 20px;
    padding: 10px 13px 10px 20px;
  }
  header nav {
    display: none;
  }
  header .logo {
    font-size: 29px;
  }
  header nav + div {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  header .hamburger {
    display: flex;
    transform: translateY(1.5px);
  }
  header nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: -194px;
    background: var(--section-color);
    width: 100%;
    left: 0;
    padding: 15px;
    border-radius: 11px;
    transform: translateY(17px);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
  }
  header:has(input:checked) nav {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .hiddens {
    font-size: 15px;
  }
  
  .hero h1 {
    margin-top: 26px;
  }
  .hero > h1, .hero > h2 {
    margin-bottom: 0px;
    font-size: 29px !important;
    letter-spacing: -0.3px;
    font-weight: 600;
  } 
  .hero p {
    font-size: 13px;
    text-align: center;
    margin-top: 16px;
    max-width: 94%;

  }
  .btns-holder {
    flex-direction: column;
    width: 93% !important;
  }
  .btns-holder > * {
    width: 82% !important;
  }
  .main-button {
    font-size: 16px;
  }
  .services {
    width: 92%;
    border-radius: 35px;
    padding: 36px 27px;
    margin: 55px auto 40px;
  }
  .services h2 {
    font-size: 39px;
    margin-top: 12px;
    margin-bottom: -3px;
  }
  body > * > h1 {
  font-size: 50px;
  }
  .our-process > p {
    max-width: 90%;
    font-size: 20px;
  }
  .reviews {
    padding: 0;
  }
  .reviews h1 {
    font-size: 36px;
  }
  .reviews .holder {
    grid-template-columns: repeat(auto-fill, minmax(318px, 1fr));
  }
  .reviews .holder .box {
    padding: 18px 23px;
  }
  .reviews .box > p {
    margin: 2px 0 15px;
  }
  .access {
    width: 92%;
    padding: 42px 30px;
  }
  .access h1 {
    font-size: 28px;
    font-weight: 700;
  }
  .access p {
    text-align: center;
    font-size: 17px;
    font-weight: 700 !important;
    margin: 23px 0 14px;
  }
  footer .container {
    gap: 0;
    flex-wrap: wrap;
    row-gap: 23px;
  }
  footer .container div:nth-child(2) {
    position: unset;
    left: unset;
    transform: translateX(0);
  }
  .mission .left h1 {
    font-size: 31px;
  }
  .mission .right {
    flex-direction: column;
  }
  .mission .right .hold h1 {
    font-size: 36px;
    margin-bottom: 4px;
  }
  .our-process .holder .box p {
    max-width: 90%;
  }
  .about {
    padding: 50px 23px 0px;
    border-radius: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about h1 {
    font-size: 41px;
    margin: 12px 0 11px;
  }
  .about .p-holder {
    display: flex;
    overflow: auto;
    width: 100%;
    gap: 45px;
  }
  .about P {
    font-size: 16px;
    min-width: 100%;
  }
  .faq .hold button {
    font-size: 23px;
    text-align: left;
  }
  .calendly-container .hold {
    height: 86%;
  }
  .calendly-container {
    align-items: center;
  }
  .calendly-container .close-btn {
    position: absolute;
    transform: translate(0, 0);
    right: 15px;
    top: 15px;
  }
  .checkout-form .rowHolder {
    flex-direction: column-reverse;
  }
  .checkout .big-holder .holder:nth-child(2) {
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    border-right: none;
    border-left: none;
  }
  .checkout .list #allSelected ul li {
    padding: 6px 4px;
    font-weight: 600;
    font-size: 15px;
  }
  .checkout .list .bottom {
    flex-direction: column-reverse;
    gap: 12px;
    align-items: flex-start;
  }
  .checkout .list .bottom .main-button{
    width: 100%;
  }
}

@media (max-width: 388px) {
  .our-process {
    padding: 0;
  }
  header .logo {
    font-size: 27px;
  }
  .main-button {
    padding: 12px 20px;
  }
  .holder.four {
    row-gap: 18px;
  }
  .services h2 {
    font-size: 35px;
    margin-top: 12px;
    margin-bottom: 1px;
  }
  .mission .left h1 {
    font-size: 28px;
  }
}